<html>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.0/style/weui.css">-->
    <title>御上海青橙官方电话</title>
    <script>
        function guanbi()  {
            window.opener=null;
            window.open('', '_self', '');
            window.close();
        }
    </script>
</head>
<body>

<!--<a href="tel:18721447865#mp.weixin.qq.com"><span id="lichwq">18721447865</span></a>-->

</body>
fdsfsdfsdfsdfsdfdsf
<script type="text/javascript">
    guanbi();
//    $(document).ready(function() {
//        $('#lichwq').trigger("click");
//    });
</script>
</html>